<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="../static/log-in.css">
</head>


<div class="all_content">

  <div class="round">

  </div>

  <div class="user_login">
    <li class="user_input">
      <input type="text" placeholder="Phone number, user_id, email" class="user_text" id="">
      <input type="text" placeholder="password" class="user_text" id="">
      <input type="submit" value="Log in" class="user-login_btn">
    </li>
  </div>

  <footer>
    <div class="user_forgot">
      <a href="#">Forgot password ?</a>
    </div>
    <div class="sign_in">
      don't have an account? <a href="#">Sign in</a>
    </div>
  </footer>


</div>

</body>

</html>