<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/login.css">
</head>

<body>

    <div class="all_content">

        <div class="round">
        </div>

        <div class="boxes">
            <li class="user_id graybox">
                <a herf="">전화번호, 사용자 이름 또는 이메일</a>
            </li>
            <li class="password graybox">
                <a herf="">비밀번호</a>
            </li>
            <li class="login graybox">
                <a herf="">로그인</a>
            </li>
        </div>


        <div class="forgot">Forgot password?</div>

        <div class="signup graybox">Don't have an account?
            <span class="signup_link">
                <a herf="">Sign up</a>
            </span></div>
    </div>
</body>
</html>