<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME! COME JOIN US!</title>

    <link rel="stylesheet" href="static/sign-up.css">

<!--    viewport    -->
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
</head>

<body>
<!-- 넣고 싶은 mov파일 실패함 <img src="insta22/background-signup-1.mov">-->
    <div class="all_content">

<!--    로고      -->
        <div class="round">
        </div>

<!--    회원정보 입력 & 푸시   -->
        <div class="user_signup">
            <li class="user_input">
                <input class="information user_text" type="text" placeholder="Phone number, username, or email" id="">
                <input class="name user_text" type="text" placeholder="Name" id="">
                <input class="user_id user_text" type="text" placeholder="ID" id="">
                <input class="password user_text" type="text" placeholder="Password" id="">
                <input class="signup user-signup_btn" type="text" placeholder="Sign Up" style="text-color:white; font-weight:bold;" id="">
            </li>
        </div>

<!--   [ 비밀번호 찾기 | 로그인 ] 화면으로 이동     -->
    <footer>
        <div class="log_in">
            Have an account ?
            <a href="#" style="color: #ea4aaa; font-weight: bold; text-underline: none;"> Log In</a>
        </div>
    </footer>
</div>

<!--<script src="sign-up.js"></script>-->
</body>
</html>