/* 모달 start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container2 {
    width: 100%;
    z-index: 1;
}

.modal-box2 {
    width: 100%;
}

.modal-icon2 {
    display: inline-block;
    cursor: pointer;
}

.popup-wrap2 {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
}

.popup2 {
    width: 100%;
    max-width: 70%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.body-contentbox2 {
    min-height: 70%;
    max-height: 100%;
}

.modal-card2 {
    font-size: 14px;
    color: #9E9E9E;
}

.popup-wrap2 > .close2 {
    font-size: 30px;
    color: white;
    position: relative;
    left: 10%;
    cursor: pointer;
}

.body-item2 {
    display: flex;
    width: 100%;
}

.body-img2 {
    width: 50%;
}

.body-img2 > img {
    max-width: 98%;
    object-fit: cover;
}

.body-like {
    width: 50%;
    margin-top: 1%;
    display: flex;
}

.round {
    width: 7%;
    height: 5%;
    border-radius: 50%;
    background-color: #9E9E9E;
}