/* Modal 시작 */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.modal_box {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    height: 760px;
    margin: 30px auto;

    background-color: white;
}
.modal_left {
    display: flex;
    background-color: dodgerblue;
    width: 750px;
    z-index: 20;
}
.modal_right {
    width: 550px;
}
.modal_close{
    display: flex;
    margin-left: 430px;

    width: 40px;
    height: 40px;
    font-size: 40px;
    color: white;
    z-index: 30;
}
/* 모달 오른쪽 내용물 시작 */

/* 모달 안에 있는 게시물 작성자 */
.modal_pf {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height : 70px;
    border-bottom: lightgray 1px solid;
    padding-top: 15px;
    padding-left: 15px;
}
.modal_pf_name {
    padding-top: 7px;
    font-weight: bold;
    margin-left: 10px;
}

/* 모달 안에 있는 게시물 설명 */
.modal_desc {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    padding-top: 20px;
    padding-left: 15px;
}
.modal_desc_write {
    padding-top: 7px;
    padding-left: 7px;
}

/* modal 게시물에 달린 댓글 시작 */
.comments {
    height: 450px;
    overflow: scroll;
    /*스크롤바 숨기기*/
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.comments::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.show_comment {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height : 70px;
    padding-top: 30px;
    padding-left: 15px;
}
.icon_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    /*margin-top: 330px;*/
    border-top: lightgray 1px solid;
}
.modal_icon {
    margin-top: 15px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}
.modal_time {
    font-size: 12px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.write_comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-top: lightgray 1px solid;
    padding-top: 10px;
}
.register {
    font-weight: bold;
    color: dodgerblue;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}





/* feed modal start */
.modal_feed {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;

    background: rgba(0, 0, 0, 0.8);
}

.modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 550px;
    position: relative;
    padding: 10px;
}

.modal_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.modal_title_side {
    flex: 0 0 40px;
    text-align: center;
}

.modal_feed_close {
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.modal_name {
    padding: 10px;
    display: flex;
    align-items: center;
}

.modal_name_text {
    font-size: 14px;
    padding: 0px 10px;
    font-weight: bold;
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_content_write{
    display: flex;

    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, 0.18);;
}

.feed_content_textarea{
    resize: none;
    border: 2px solid salmon;
    width: 100%;
}

.modal_input {
    height: 440px;
}

.modal_input > div {
    padding-top: 15%;
    width: 100%; 
    text-align: center;
}