* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}
/* 네비바 시작 */
header {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 75px;
    padding: 0px 300px;
    color: white;
    background: white;

    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #E4E4E4;
}

.logo {
    width: 40%;
    padding-left: 140px;
}

.search {
    position: relative;
    right: 120px;
    width: 26%;
}

.search>input {
    width: 100%;
    background-color: rgb(233, 233, 233);
    border: 1px #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 12px;
}

.search>img {
    position: absolute;
    width: 5%;
    top: 10px;
    right: 12px;
    margin: 0;
}

.icons {
    position: relative;
    right: 100px;
    display: flex;
    padding: 15px;
}

.icons>li>a {
    padding: 10px;
}

/* 네비바 끝 */
/* 프로필 시작 */
.upper {
    margin-top: 100px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.pf_img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right:100px
}

.uppper_right {     /* 프로필 내용 */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user_id {
    font-size: 30px;
}
.state {        /* 게시물, 팔로워, 팔로우 갯수 포함 */
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.state_num  {
    color: black;
    text-decoration: none;
}
.state_num:hover {
    color: black;
    text-decoration: none;
}
.user_name {
    font-size: 20px;
    font-weight: bold;
}

/* 프로필과 게시물 사이 경계 */
.line {
    margin : auto;
    width: 1000px
}

/* Modal 시작 */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_box {
    text-align: center;
    max-width: 1300px;
    height: 760px;
    margin: 30px auto;

    background-color: white;
}
.modal_left {
    float: left;
    background-color: dodgerblue;
    width: 750px;
    z-index: 20;
}
.modal_right {
    float: right;
    width: 550px;
}
.modal_close{
    float: right;
    background-color:darkblue;
}
/* 모달 오른쪽 내용물 시작 */

/* 모달 안에 있는 게시물 작성자 */
.modal_pf {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height : 70px;
    border-bottom: lightgray 1px solid;
    padding-top: 15px;
    padding-left: 15px;
}
.modal_pf_name {
    padding-top: 7px;
    font-weight: bold;
    margin-left: 10px;
}
/* 모달 안에 있는 게시물 설명 */
.modal_desc {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    padding-top: 20px;
    padding-left: 15px;
}
.modal_desc_wrtie {
    padding-top: 7px;
    padding-left: 7px;
}

/* 게시물에 달린 댓글 시작 */
.modal_comment {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height : 70px;
    padding-top: 30px;
    padding-left: 15px;
}



/* 하단 게시글 시작 */
.bottom {
    margin-top: 50px;
}
.mypage_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1000px;
    margin: auto;
}
.each-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
