* {
    box-sizing: border-box;
    text-decoration: none;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

body {
    background: lightgray;
    list-style: none;
    margin: 0;
    padding: 0;
}

.all_content {
    background: white;

    max-width: 350px;
    height: 500px;
    border: 5px solid #a1a1a18f;
    border-radius: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #a1a1a18f;
}

.round {
    border: black solid 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user_login {

    width: 300px;
    margin: 40px auto 0px auto;
    padding: 20px;
    text-align: center;
    border: none;
}

.user_input {

}

.user_text {
    padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
    background-color: #e8f0fe;
    border-radius: 2%;
}

.user-login_btn {
    font-size: 15px;
    border: none;
    padding: 10px;
    width: 180px;
    background-color: #0095f6;
    color: white;
    height: auto;
    border-radius: 5%;
    cursor: pointer;
}

footer {
    position: relative;
    top: 15%;
    text-align: center;
}

.user_forgot {
    color: black;
    font-weight: bold;
    padding-bottom: 2%;
}
.sign_in {
    width: auto;
    height: auto;
    background-color: #e8f0fe;
    padding: 10px;
    border-radius: 5%;
}

.sign_in a {
    color: blue;
    font-weight: bold;
}

