<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" href="../static/css/log-in.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    쿠키 사용시 무조건 임포트    -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

	<script src="../static/js/log-in-jquery.js"></script>

</head>

<body>

<div class="all_content">

	<div class="round">

	</div>

	<div class="user_login">
		<li class="user_input">
			<input type="text" placeholder="Phone number, user_id, email" class="user_text" id="user-id">
			<input type="password" placeholder="password" class="user_text" id="user-pw">
			<input type="submit" value="Log in" class="user-login_btn" onclick="login()">
		</li>
	</div>

	<footer>
		<div class="user_forgot">
			<a href="#">Forgot password ?</a>
		</div>
		<div class="sign_in">
			don't have an account? <a href="/signup">Sign in</a>
		</div>
	</footer>
</div>


</body>

</html>