<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- JQ 임포트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/0c764fa4c5.js" crossorigin="anonymous"></script>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@300&display=swap"
          rel="stylesheet">

    <title>Title</title>

    <link rel="stylesheet" href="../static/css/mypage.css">

</head>

<body>

    <!----------------------- header 시작 ------------------------->
    <header>
        <!----------- 로고 ------->
        <div class="logo">
            <a href="">
                <img alt="Instagram" src="../static/img/insta1.png"
                     srcset="/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png 2x">
            </a>
        </div>

        <!---------- 검색창 ----------->
        <div class="search">
            <input type="text" placeholder="검색">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        </div>

        <nav>
            <ul class="icons">
                <li><a href="#"><i class="fa-solid fa-house fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-paper-plane fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-square-plus fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-compass fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-heart fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user fa-xl"></i></a></li>
            </ul>
        </nav>
    </header>

<!---------- 프로필 시작 ----------->

    <div class="upper">
        <div>
            <img class ="pf_img" src="https://ca.slack-edge.com/T039CS8AH0D-U03A6RBGK60-faffa361ecd3-512">
        </div>
        <div class="uppper_right">
            <div class="user_id">kksu_97</div>
            <div>
                <div class="state">
                    <div><a class="state_num" href="">게시물 81</a></div>
                    <div><a class="state_num" href="">팔로워 251</a></div>
                    <div><a class="state_num" href="">팔로우 271</a></div>
                </div>
            </div>
            <div class="user_name">김경수</div>
        </div>
    </div>
    <hr class="line">



    <!--        하단 게시글 포지션-->
    <div class="bottom">
        <div class="mypage_posts">
            <div class="each-div">
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img id="modal_open" alt=""
                         src="http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg"
                         style="width: 293px; height: 293px;">
                    <!------ Modal ------>
                    <div id="modal" class="modal">
                        <div class="modal_box">
                            <div class="modal_left">
                                <img alt="" src="http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg"
                                         style="width: 750px; height: 760px;">
                            </div>
                            <div class="modal_right">
                                        <!--  modal 안에 있는 게시물 작성자-->
                                <div class="modal_pf">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A6RBGK60-faffa361ecd3-512"></div>
                                    <div class="modal_pf_name">kksu_97</div>
                                </div>
                                <!--  modal 안에 있는 게시물 설명-->
                                <div class="modal_desc">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A6RBGK60-faffa361ecd3-512"></div>
                                    <div class="modal_pf_name">kksu_97</div>
                                    <div class="modal_desc_wrtie">라이언 너무 귀엽다. 라이언 만세!!!!! #라이언 </div>
                                </div>
                                <!--  게시물에 달린 댓글 시작-->
                                <div class="modal_comment">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A0MUBSQH-0e4deb8911e1-512"></div>
                                    <div class="modal_pf_name">juhyun.1011</div>
                                    <div class="modal_desc_wrtie">우와. 라이언 잘 보고 갑니다!</div>
                                </div>
                                <div class="modal_comment">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U039VKKRRF1-67b76fd7ee7b-512"></div>
                                    <div class="modal_pf_name">abcedtgollum</div>
                                    <div class="modal_desc_wrtie">제가 더 귀엽네요 ^^</div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="modal_close" id="modal_close"><span>XXXXXX</span></div>
                    </div>
                    <!-- Modal End -->
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img id="modal_open2" alt=""
                         src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_KR?wid=904&hei=840&fmt=jpeg&qlt=95&.v=1647363032344"
                         style="width: 293px; height: 293px;">
                    <!------ Modal2 ------>
                    <div id="modal2" class="modal">
                       <div class="modal_box">
                            <div class="modal_left">
                                <img alt="" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_KR?wid=904&hei=840&fmt=jpeg&qlt=95&.v=1647363032344"
                                         style="width: 750px; height: 760px;">
                            </div>
                            <div class="modal_right">
                                        <!--  modal 안에 있는 게시물 작성자-->
                                <div class="modal_pf">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A6RBGK60-faffa361ecd3-512"></div>
                                    <div class="modal_pf_name">kksu_97</div>
                                </div>
                                <!--  modal 안에 있는 게시물 설명-->
                                <div class="modal_desc">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A6RBGK60-faffa361ecd3-512"></div>
                                    <div class="modal_pf_name">kksu_97</div>
                                    <div class="modal_desc_wrtie">맥북 갖고 싶다ㅠㅠ 대근이형 사주세요..</div>
                                </div>
                                <!--  게시물에 달린 댓글 시작-->
                                <div class="modal_comment">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U039AJZCWUE-1898f77216d4-512"></div>
                                    <div class="modal_pf_name">daegeunziii</div>
                                    <div class="modal_desc_wrtie">그래, 내가 사줄게!</div>
                                </div>
                                <div class="modal_comment">
                                    <div><img style="width: 40px; border-radius: 50%" src="https://ca.slack-edge.com/T039CS8AH0D-U03A07H489F-8d51d3be93c5-512"></div>
                                    <div class="modal_pf_name">sugi.kr</div>
                                    <div class="modal_desc_wrtie">아니야, 내가 사줄게!!</div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="modal_close" id="modal_close2"><span>XXXXXX</span></div>
                    </div>
                    <!-- Modal End -->
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_KR?wid=904&hei=840&fmt=jpeg&qlt=95&.v=1647363032344"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_KR?wid=904&hei=840&fmt=jpeg&qlt=95&.v=1647363032344"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_KR?wid=904&hei=840&fmt=jpeg&qlt=95&.v=1647363032344"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/storm-approaching-loch-laggan-in-scotland_477293-2630.jpg?w=996"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/aerial-view-of-river-in-abundant-tropical-rainforest-on-natural-park-at-countryside_49071-2932.jpg?w=996"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/aerial-view-of-sunset-over-doi-luang-chiang-dao-mountain-range-with-colorful-autumn-forest-on-hill-in-countryside-at-chiang-dao-chiang-mai-thailand_49071-7407.jpg?w=740"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/view-airplane-cloudy-blue-colorful-on-sky_49071-7735.jpg?w=996"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/aerial-view-of-highway-in-tropical-rainforest-with-sunset-on-mountain-at-countryside_49071-7530.jpg?w=996"
                         style="width: 293px; height: 293px;">
                </div>
                <div style="width: 293px; height: 293px; margin: 0px 28px 28px 0px;">
                    <img alt=""
                         src="https://img.freepik.com/free-photo/yellow-traffic-signboard-on-snow-covered-roadside-at-coastline_49071-7438.jpg?w=996"
                         style="width: 293px; height: 293px;">
                </div>
            </div>



        </div>
    </div>



<script src="../static/js/mypage-jquery.js"></script>
</body>

</html>
