<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME! COME JOIN US!</title>

    <link rel="stylesheet" href="../static/css/sign-up.css">

<!--    viewport    -->
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function save_user_info() {
            const contact = $('#contact').val();
            const name = $('#name').val();
            const insta_id = $('#user_id').val();
            const password = $('#password').val();

            $.ajax({
                type: 'POST',
                url: '/signup',
                data: {contact_give: contact, name_give: name, insta_id_give: insta_id, password_give: password},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload();
                }
            });

        }
    </script>
</head>

<body>
    <div class="animated-background"></div>
<!-- 넣고 싶은 mov파일 실패함 <img src="insta22/background-signup-1.mov">-->
    <div class="all_content">

<!--    로고      -->
        <div class="round">
        </div>

<!--    회원정보 입력 & 푸시   -->
        <div class="user_signup">
            <li class="user_input">
                <input class="information user_text" type="text" placeholder="Phone number, username, or email" id="contact">
                <input class="name user_text" type="text" placeholder="Name" id="name">
                <input class="user_id user_text" type="text" placeholder="ID" id="user_id">
                <input class="password user_text" type="text" placeholder="Password" id="password">
                <button class="signup user-signup_btn" placeholder="Sign Up" style="text-color:white; font-weight:bold;" onclick="save_user_info()">Sign Up</button>
            </li>
        </div>

<!--   [ 비밀번호 찾기 | 로그인 ] 화면으로 이동     -->
    <footer>
        <div class="log_in">
            Have an account ?
            <a href="#" style="color: #ea4aaa; font-weight: bold; text-underline: none;"> Log In</a>
        </div>
    </footer>
</div>

<script src="sign-up-jquery.js"></script>
</body>
</html>